#### Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)

## My Jupyter Notebook on IBM Watson Studio

#### Exercise 3 - Create a markdown cell for an introduction. (1 pt)

# Introduction

#### Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

- Python
- R
- SQL 
- Julia
- Scala 
- etc.

#### Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

- Python
  - Tensorflow 
  - PyTorch
  - Numpy 
  - Pandas 
  - Matplotlib 
  - Seaborn 
  - Scipy 
  - Scikit-learn
  - Keras
  - etc.
- R
  - dplyr
  - ggplot2
  - tidyr
  - caret 
  - shiny 
  - etc.

#### Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

|Data Science tools|
|------------------|
|Jupyter Lab  |
|Apache Spark|
|Anaconda|
|RStudio|
|IMB Watson Studio|
|Amazon SageMaker|
|Google Colab|
|Apache Hadoop|
|Tableau|

#### Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

```python 

/*Arithmetic expressions*/

//Addition 
print( 1 + 1) 

//Subtraction 
print(1-1)


//Float Division
print(1.0/2.0)

//Integer Division 
print(3//2)

//Multiplication 
print(1*2)


//Exponetiation
print(2*2)
```

#### Exercise 8 - Create a code cell to multiply and add numbers.(2 pts)

In [6]:
# Multiplication 

print("Multiplication: ",2 * 2)

# Addition 

print("Addition: ",1 + 2)

Multiplication:  4
Addition:  3

#### Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

In [10]:
f = lambda x: round(x/60,2)
minutes = 60.0 
print(f"{minutes} is {f(minutes)} in hours")

60.0 is 1.0 in hours

#### Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)

- Understanding of Statistics and Probability
-  Data Visualization and Storytelling
- Predictive Analytics
- To make data-driven decision
- Business Aucmen 
- etc.

#### Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)

** Yusuf Brima **

#### Exercise 12 - Share your notebook through GitHub (3 pts)

[Github link](https://github.com/yusufbrima/t4datascience/blob/main/Week4/Peer-reviewed%20Assignment.ipynb)

#### Exercise 13 - Take a screenshot of the first page of the notebook. (1 pt)