## My Jupyter Notebook on IBM Watson Studio

#### Exercise 3 - Create a markdown cell for an introduction. (1 pt)

#### In this notebook, we cover the basic usage of markedown and cells.

#### Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

Some of the most popular data science languages.

1. Python
2. R
3. SQL 
4. Julia
5. Scala 
6. Java
7. C++

#### Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

Some of the most common data science libraries:

1. Tensorflow 
2. PyTorch
3. Numpy 
4. Pandas 
5. Matplotlib 
6. Seaborn 
7. Scipy 
8. Scikit-learn
9. Keras
10. dplyr
11. ggplot2
12. tidyr
13. caret 
14. shiny 
15. Apache Spark

#### Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

Some of the commonly used data science tools are:

|Data Science tools|
|------------------|
|Anaconda|
|Jupyter Lab  |
|Jupyter Notebook  |
|Spyder|
|R Studio|

#### Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

Below are a few arithmetic expressions in python

```python 

/*Arithmetic expressions*/

//Addition 
print( 1 + 1) 

//Subtraction 
print(1-1)


//Float Division
print(1.0/2.0)

//Integer Division 
print(3//2)

//Multiplication 
print(1*2)


//Exponetiation
print(2*2)
```

#### Exercise 8 - Create a code cell to multiply and add numbers.(2 pts)

In [2]:
# This is an arithmetic expression to multiply then add

print("Multiplication: ",(2 * 2) + 5)

Multiplication:  9

#### Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

In [3]:
f = lambda x: round(x/60,2)
minutes = 60.0 
print(f"{minutes} is {f(minutes)} in hours")

60.0 is 1.0 in hours

#### Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)

**Objectives**
- Adding comments to code cells
- How to create markdown cells
- Working with ordered and unordered lists in markdown syntax
- Basic formatting (e.g., headings)
- How to create and format tables

#### Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)

## Author(s)

Yusuf Brima

#### Exercise 12 - Share your notebook through GitHub (3 pts)

[Github link](https://github.com/yusufbrima/t4datascience/blob/main/Week4/My%20Jupyter%20Notebook%20on%20IBM%20Watson%20Studio.ipynb)

In [5]:
x = 6
if x == 6 :
    print('Is 6')
    print('Is Still 6')
    print('Third 6')

Is 6
Is Still 6
Third 6

In [6]:
x = 0
if x < 2 :
    print('Small')
elif x < 10 :
    print('Medium')
else :
    print('LARGE')
print('All done')

Small
All done

In [7]:
x = 2
if x < 2 :
    print('Below 2')
elif x >= 2 :
     print('Two or more')
else :
    print('Something else')

Two or more